<div class="uk-card uk-card-default uk-card-update uk-card-body uk-width-1-2@m">
    <h3 class="uk-card-title">Working on something new ?</h3>
    <p>Let the rest of your team know what your currently working on...</p>

    <form>
        <fieldset class="uk-fieldset">    
            <div class="uk-margin">
                <input name="newPostTitle" [(ngModel)]="newPostTitle" class="uk-input" type="text" placeholder="Brief title...">
            </div> 
            <div class="uk-margin">
                <textarea class="uk-textarea" rows="5" placeholder="Description..."></textarea>
            </div>                                  
        </fieldset>
    </form>
    <button (click)="postUpdate()" class="uk-button uk-button-primary">Post</button>
</div>


<div class="feed-container" *ngFor="let post of posts"> 
    <div class="uk-card uk-card-default uk-card-post uk-margin-top uk-card-body uk-width-1-2@m">
        <h3 class="uk-card-title">{{post.postTitle}}</h3>
        <p>{{post.postContent}}</p>
    </div>
</div>


