<div class="uk-card uk-card-default uk-card-update uk-card-body uk-width-1-1@s">
    <h3 class="uk-card-title">Working on something new ?</h3>
    <p>Let the rest of your Team know what your currently working on...</p>

    <form>
        <fieldset class="uk-fieldset">    
            <div class="uk-margin">
                <input name="newPostTitle" [(ngModel)]="newPost.postTitle" class="uk-input app-input" type="text" placeholder="Brief title...">
            </div> 
            <div class="uk-margin">
                <textarea name="newPostDescription" class="uk-textarea app-input" [(ngModel)]="newPost.description" rows="3" placeholder="Description..."></textarea>
            </div>                                  
        </fieldset>

        <ul uk-accordion id="accordion-team">
            <li>
                <a class="uk-accordion-title" href="#"><span class="uk-margin-small-right" uk-icon="plus-circle"></span>Tag Team Members</a>
                <div class="uk-accordion-content"> 
                    <mat-form-field class="tag-team-list uk-width-1-2@m uk-margin">
                    <mat-chip-list #chipList aria-label="Tag Team members">
                      <mat-chip
                        *ngFor="let taggedOrgMember of taggedOrgMembers"
                        [selectable]="selectable"
                        [removable]="removable"
                        (removed)="remove(taggedOrgMember)">
                        {{taggedOrgMember}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                      </mat-chip>
                      <input class="app-input"
                        #memberInput 
                        matInputAutofocus  
                        placeholder="Type to add Team Members"     
                        [formControl]="memberCtrl"
                        [matAutocomplete]="auto"
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                      <mat-option *ngFor="let member of filteredOrgMembers | async" [value]="member">
                        {{member}}
                      </mat-option>
                    </mat-autocomplete>
                    </mat-form-field>
                </div> 
            </li>
        </ul> 

        <ul uk-accordion id="accordion-image">
            <li>
                <a class="uk-accordion-title" href="#"><span class="uk-margin-small-right" uk-icon="plus-circle"></span>Add an Image</a>
                <div class="uk-accordion-content">                    
                    <uploader #child ></uploader>                                             
                </div>
            </li>
        </ul>
    </form>
    <button (click)="postUpdate()" class="uk-button uk-button-primary">Post</button>
</div>


<div class="feed-container" > 
    <div class="uk-card uk-card-default uk-card-post uk-margin-top uk-card-body uk-width-1-2@m" *ngFor="let post of posts">
        
      
        <h2 class="uk-card-title uk-margin-small">{{post.user.displayName}}</h2>
        <hr>
  
        <h3 class="uk-card-title uk-margin-small">{{post.postTitle}}</h3>
        <div *ngIf="post.imageUrl">
            <img src="{{post.imageUrl}}">
        </div>
        <p>{{post.postContent}}</p>

        <div class="post-members">
            <mat-chip-list >
                <mat-chip *ngFor="let teamMember of post.teamMembers" ><span *ngIf="teamMember.memberDisplayName">{{teamMember.memberDisplayName}}</span><span *ngIf="!teamMember.memberDisplayName">{{teamMember}}</span></mat-chip>
              </mat-chip-list>
        </div>

        <hr>

        <div class="interaction-panel uk-margin">
                             
            <div class="uk-child-width-expand@s" uk-grid>
                <div>                   
                    <ul uk-accordion>
                        <li class="uk-closed">
                            <a class="uk-accordion-title" href="#"><span class="uk-margin-right uk-text-left" uk-icon="icon:comments; ratio:1.5"></span></a>
                            <div class="uk-accordion-content">
                                <app-comments (postEvent)="getComments($event)" [post]="post"></app-comments>
                            </div>
                        </li>                       
                    </ul>
                </div>
                <div class="uk-text-right">
                    <div>                   
                        <ul uk-accordion>
                            <li class="uk-closed">
                                <span (click)="likePost(post)" [ngClass]="hasLiked(post)" class="like-icon" uk-icon="icon:happy; ratio:1.5"></span>
                                <a class="uk-accordion-title uk-display-inline" href="#"><span class="uk-margin-right uk-text-left" uk-icon="icon:chevron-down; ratio:1.5"></span></a>
                                <div class="uk-accordion-content">
                                    <p *ngFor="let like of post.likes"><span class="uk-text-bold">{{like.author.displayName}}</span> liked this</p>
                                </div>
                            </li>                       
                        </ul>
                    </div>
                </div>                    
             </div>                  
        </div>
    </div>
</div>


