
  <div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
    <div class="uk-width-1-1">
      <div class="uk-container">
        <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
          <div class="uk-width-1-1@m">
            <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
              <h3 class="uk-card-title uk-text-center">Create a Studio Account</h3>
              <form>
                <div class="uk-margin">
                  <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                    <input (click)="updateForms()"  [(ngModel)]="userEmail" name="email" placeholder="Email" class="formControl uk-input uk-form-large" type="text" required>
                  </div>
                </div>
                <div class="uk-margin">
                  <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    <input (click)="updateForms()" [(ngModel)]="userPassword" name="password" placeholder="Password" class="formControl uk-input uk-form-large" type="password" required>
                  </div>
                </div>
                <div class="uk-margin">
                  <h4 class="uk-text-center">Your Organization</h4>
                  <select (click)="updateForms()" [(ngModel)]="selectedOrganization" name="organization" class="uk-select" >
                      <option></option>                 
                    <option *ngFor="let organization of organizations">{{organization.orgName}}</option>                     
                  </select>
              </div>
                <div class="uk-margin">
                  <button [disabled]="!userEmail || !userPassword || !selectedOrganization" (click)="verifyOrganization()" class="uk-button uk-button-primary uk-button-large uk-width-1-1">Create Account</button>
                </div>
                <div class="uk-text-small uk-text-center">
                  Back to <a routerLink="/login" href="#">Login</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  