<nav class="uk-navbar-container uk-margin" uk-navbar>
  <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo" href="#">{{orgName}}</a>
  </div>
  <div class="uk-navbar-right">

    <ul class="uk-navbar-nav">
        <li><a href="#">Dark Mode ?</a></li>
        <li>
            <a href="#">Account</a>
            <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li class="uk-active"><a href="#">Active</a></li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                </ul>
            </div>
        </li>
        <li><a (click)="authService.SignOut()">Log Out</a></li>
    </ul>
</div>
</nav>

<div class="uk-container">
  <app-update></app-update>
  <router-outlet></router-outlet>    
</div>