.uk-navbar-container{
    background-color:#e57373;

    .uk-navbar-item {
        color:white;
    }

    .uk-navbar-nav {
        li {
            a {
                color:white;
            }
        }
    }
}